@charset "utf-8";
	.t000001
{
	opacity : 0.8;
	position : absolute ;
	left : 216px;
	top : 189px;
	width : 11px;
	height : 20px;
}
.t000013
{
	opacity : 0.1;
	position : absolute ;
	left : 339px;
	top : 184px;
	width : 71px;
	height : 71px;
}
.t000004
{
	opacity : 0.8;
	position : absolute ;
	left : 239px;
	top : 214px;
	width : 23px;
	height : 19px;
}
.t000014_1_
{
	opacity : 0.8;
	position : absolute ;
	left : 66px;
	top : 273px;
	width : 41px;
	height : 43px;
}
.t000010
{
	opacity : 0.5;
	position : absolute ;
	left : 303px;
	top : 199px;
	width : 11px;
	height : 48px;
}
.t000005
{
	opacity : 0.8;
	position : absolute ;
	left : 270px;
	top : 223px;
	width : 17px;
	height : 23px;
}
.t000017
{
	opacity : 0.4;
	position : absolute ;
	left : 332px;
	top : 277px;
	width : 43px;
	height : 43px;
}
